<template name="register">
	<div class="container">
		<div class="row">
			<div class="wrapp_center">
			<div class="col-lg-12">
				<div class="account-wall">
					<h1 class="text-center login-title">Register</h1>
					<form class="form-signin">
						<input type="text" class="form-control" placeholder="username" name="username" required>
					<input type="email" class="form-control" placeholder="Email" id="email" name="email" required autofocus>
					<input type="password" class="form-control" placeholder="Password" id="password" name="password" required>
					<button id="btn-register" class="btn  btn-primary btn-block" type="submit">regiter</button>
					</form>
					
				</div>
				
			</div>
			</div>
		</div>
	</div>

</template>